@import 'fonts';
@import 'global';
@import 'colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --width: 1920;
  --height: 1080;
  --index: calc((100vw / var(--width)) + (100vh / var(--height)));
}

html,
body {
  font-size: calc(var(--index) * 5);
  font-family: 'ArtegraSans', Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: $main;
  overflow: hidden;
}

li {
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  display:block;
}
