@import 'fonts';
@import 'global';
@import 'keyFrames';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --width: 1920;
  --height: 1080;
  --index: calc((100vw / var(--width)) + (100vh / var(--height)));
}

html,
body {
  font-size: calc(var(--index) * 5);
  font-family: 'ArtegraSans', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: $main;
  overflow: hidden;
}

li {
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  display:block;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.page-enter-active,
.page-leave-active {
  transition: transform 1s;
}

.page-enter-from.page_down,
.page-leave-to.page_down {
  transform: translateY(-100%);
}

.page-enter-from.page_up,
.page-leave-to.page_up {
  transform: translateY(100%);
}

.show-enter-active,
.show-leave-active {
  transition: opacity .7s;
}

.show-enter-from,
.show-leave-to {
  opacity: 0;
}

.toggle-letter-wrapper {
  display: inline-flex;
  overflow: hidden;
  .text-anim & {
    height: 12rem;
  }
  .text-anim-line & {
    height: 4.7rem;
  }
  .title.title_company.text-anim-line & {
    height: 4.7rem;
  }
  .title.text-anim-line & {
    height: 10rem;
  }
  .description.text-anim-line & {
    height: 2.6rem;
  }
  .toggle-letter {
    display: block;
    position: relative;
    will-change: opacity, transform;
    transform-origin: 0 50%;
  }
}